In [21]:
import keras
from keras.models import Sequential
from keras.layers.core import Dense,Dropout,Activation,Flatten
from keras.layers.convolutional import Convolution2D,MaxPooling2D
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [22]:
data=pd.read_csv('mnist_train.csv')
print(data.head())

   label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
0      5    0    0    0    0    0    0    0    0    0  ...      0      0
1      0    0    0    0    0    0    0    0    0    0  ...      0      0
2      4    0    0    0    0    0    0    0    0    0  ...      0      0
3      1    0    0    0    0    0    0    0    0    0  ...      0      0
4      9    0    0    0    0    0    0    0    0    0  ...      0      0

   28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0      0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [23]:
data

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
r=data.iloc[3,1:].values.reshape(28,28).astype('uint8')
print(r)

[[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
  124 253 255  63   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  96
  244 251 253  62   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 127
  251 251 253  62   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  68 236
  251 211  31   8   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  60 228 251
  251  94   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0 155 253 253
  189   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0  20 253 251 235
   66   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0  32 205 253 251 126
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0 104 251 253 184  15
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0  80 240 251 193  23   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0  32 253 253 253 159   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0 151 251 251 251  39   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0  48 221 251 251 172   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0 234 251 251 196  12   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0 253 251 251  89   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0 159 255 253 253  31   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0  48 228 253 247 140   8   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0  64 251 253 220   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0  64 251 253 220   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0  24 193 253 220   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]]

In [26]:
df_x=data.iloc[:,1:].values.reshape(len(data),28,28,1)
y=data.iloc[:,0].values
print(y)

[5 0 4 ... 5 6 8]

In [27]:
#converting lebel to categorical class
df_y=keras.utils.to_categorical(y,num_classes=10)

In [28]:
df_x=np.array(df_x)
df_y=np.array(df_y)
print(df_y)

[[0. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]]

In [29]:
print(df_y.shape)

(60000, 10)

In [30]:
x_train,x_test,y_train,y_test=  train_test_split(df_x,df_y,test_size=0.2,random_state=4)

In [31]:
model=Sequential()
model.add(Convolution2D(32,3,data_format='channels_last',activation='relu',input_shape=(28,28,1)))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Flatten())
model.add(Dense(100))
model.add(Dropout(0.5))
model.add(Dense(10))
model.compile(loss='categorical_crossentropy',optimizer='adadelta',metrics=['accuracy'])

In [32]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_2 (Conv2D)            (None, 26, 26, 32)        320
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 13, 13, 32)        0
_________________________________________________________________
flatten_2 (Flatten)          (None, 5408)              0
_________________________________________________________________
dense_3 (Dense)              (None, 100)               540900
_________________________________________________________________
dropout_2 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_4 (Dense)              (None, 10)                1010
=================================================================
Total params: 542,230
Trainable params: 542,230
Non-trainable params: 0
_________________________________________________________________

In [33]:
#for fitting it just 100 images for testing 
model.fit(x_train[1:100],y_train[1:100],validation_data=(x_test[1:20],y_test[1:20]))

Train on 99 samples, validate on 19 samples
Epoch 1/1
99/99 [==============================] - 2s 18ms/step - loss: 8.0543 - accuracy: 0.1212 - val_loss: 9.7214 - val_accuracy: 0.0526

In [34]:
model.predict(x_test[1:20])

array([[-165.86537  ,  -51.373188 ,  -35.704475 ,   35.56493  ,
         113.14151  ,  -39.20662  ,  297.13156  , -488.8234   ,
          64.302025 ,   41.815422 ],
       [-340.46536  , -111.535965 ,  -58.091614 ,   66.78939  ,
          96.79119  ,  -21.431252 ,  479.8986   , -415.1607   ,
          86.222046 ,  101.22072  ],
       [ -79.76481  ,  -10.649194 ,  -10.997739 ,  -35.018772 ,
          28.602755 ,  -17.075653 ,  119.14559  , -185.94052  ,
          16.791853 ,   -0.8061989],
       [-252.42972  ,  -18.43837  , -129.37155  ,  -22.700954 ,
         101.758194 ,  -69.047035 ,  340.30054  , -468.89178  ,
         160.69287  ,   45.276985 ],
       [-333.68994  ,   -6.1826406, -115.0154   ,   73.0524   ,
          81.762146 ,   96.93983  ,  506.06326  , -419.6181   ,
         241.92766  ,   67.81194  ],
       [-318.3131   ,  -72.935425 , -134.35547  ,   77.21194  ,
         103.02085  ,   11.926782 ,  473.71167  , -413.0182   ,
         194.07953  ,   82.130775 ],
       [-160.04825  ,   -7.485657 ,  -70.24709  ,  -46.356842 ,
          12.798714 ,  -39.122364 ,  219.86858  , -272.74185  ,
          21.656448 ,   13.817846 ],
       [-229.4192   ,  -24.356663 , -152.14601  ,   -2.5418577,
          83.068565 ,  -18.37487  ,  314.46817  , -441.27652  ,
         155.67569  ,   50.921047 ],
       [-234.23167  ,  -49.558796 , -108.65121  ,    9.997235 ,
         135.71297  ,  -83.04269  ,  338.5371   , -503.0794   ,
         131.8447   ,  125.20438  ],
       [-311.00195  ,    4.883804 , -111.5098   ,   20.065205 ,
         120.5981   ,    1.2279824,  408.83154  , -347.9637   ,
         222.57837  ,  100.881676 ],
       [-219.4796   ,  -39.56472  , -123.13294  ,    3.3902864,
          90.56545  ,  -31.343552 ,  307.37247  , -456.0821   ,
         143.18204  ,   72.452965 ],
       [-234.60027  ,  -43.35617  ,  -67.26209  ,   42.086815 ,
         113.15251  , -109.385994 ,  321.0061   , -402.64478  ,
          86.32334  ,   97.40968  ],
       [-251.81068  ,   19.616669 , -139.25682  ,  -46.43413  ,
          67.377785 ,  -58.403885 ,  287.45135  , -412.75262  ,
         149.77933  ,   50.276306 ],
       [-317.7993   ,  -33.542976 ,  -85.89736  ,   -1.0749313,
          76.63091  ,  -36.2658   ,  382.72287  , -381.66763  ,
         165.45447  ,   35.603798 ],
       [-167.93272  ,  -45.34886  ,  -81.93624  ,   -3.0185423,
          70.28976  ,   -9.903693 ,  252.37508  , -421.99164  ,
          49.779057 ,   73.34095  ],
       [-276.2481   ,    4.8946376,  -94.78626  ,   99.802574 ,
          56.50635  ,   73.13039  ,  430.91867  , -271.5054   ,
         196.11977  ,   49.73464  ],
       [-146.70366  ,  -56.067146 ,  -36.94836  ,    5.8227816,
          57.17892  ,  -18.788246 ,  222.31215  , -407.9227   ,
          14.004159 ,   64.36455  ],
       [-250.76805  ,  -36.777412 , -112.00425  ,   56.6891   ,
          72.88719  ,  -43.820175 ,  350.35516  , -512.8875   ,
         152.91513  ,   63.791973 ],
       [-224.9337   ,  -17.452608 , -104.350395 ,    9.397855 ,
          78.84879  ,  -31.542015 ,  310.99002  , -414.58136  ,
         192.5329   ,   61.388325 ]], dtype=float32)